/* Body is Tag */
body{
    background: rgba(73, 73, 201, 0.226);
}



/* heading-name is class name */
.heading-name{
    color: red;
    font-size: 58px;
    font-weight: bold;
    text-align: center;
}


/* about is ID */
#about{
    background: yellow;
}

.para-about{
    text-align: center;
}

ul{
    list-style: none;
    display: flex;
}

li{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}


.form-container{
    background: white;
    padding: 50px;
    border: 2px solid black;
    border-radius: 15px;
    width: 300px;
}

label{
    display: block;
}


.box-input{
    padding: 15px;
}



.main-div{
    display: flex;
}

.table-container{
    border: 5px solid black;
    margin: 15px;
    background: rgba(69, 39, 39, 0.12);
    width: 300px;
}


table {
    width: 80%; /* Table width */
    margin: 20px auto; /* Center the table */
    border-collapse: collapse; /* Remove space between borders */
}

th, td {
    border: 5px solid #ddd; /* Add borders */
    padding: 10px; /* Add padding */
    text-align: left; /* Align text to the left */
}


.main-box-p{
    display: flex;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

.box-p-1{
    border: 2px solid rgb(221, 23, 23);
    margin: 5px;
    padding: 5px;
}
.box-p-2{
    border: 2px solid rgb(46, 23, 221);
    margin: 5px;
    padding: 5px;
}


.yash{
    margin: 55px;
    padding: 55px;
    border: 1px solid black;
}