body {
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  
  header {
    background:#0e3570;
    color: white;
    text-align: center;
    padding: 14px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;

  }
  
  nav ul li{
      margin-left: 25px;
  }
  
  nav ul li a{
     color: white;
     text-decoration: none;
  }
  
  section{
      text-align: center;
      padding: 40px 80px;
  }

  
  
  .skills-main-div{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(250px , 1fr));
      gap: 20px;
  }
  
  .skill-div-card{
      border: 2px solid #7b7b7b;
      border-radius: 9px;
      background: #00000005;
  }
  
  .skill-div-card h3{
      color: #007bff;
  }
  
  .project-div{
      background: #00000029;
      padding: 30px;
      border-radius: 10px;
      margin-bottom: 25px;
  }
  span{
    color: rgb(250, 226, 49);
  }
  
  footer{
      text-align: center;
      color: white;
      background: #333;
      padding: 25px;
  }