.main-div{
    background-color: rgb(223, 235, 248);
    width: 60%;
    height: 40;
    margin: auto;
    padding : 20px;
    margin-top: 50px;
}

.row{
    display: flex;
    margin: 10px;
    gap: 3%;
  }


  .img-box{
    width: 100%;
  }
  
  .col-6{
    width: 30%;
    margin: auto;
  }
  
  h1{
    margin: 0;
  }
  
  h2{
    text-align: center;
  }

  